body{
  text-align: center;
  font-family: Open Sans,sans-serif;
  background-color: #cd77e0;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

h1{
  font-size: 60px;
  font-weight: 300;
}

h2{
  color:#4e2ef0;
  font-size: 40px;
}

h3{
  font-size: 22px;
  font-style: italic;
  color:#fff;
}

p{
  font-size: 20px;
  line-height: 1.5;
  color:#fff;
}

img{
  width: 100%;
}

.titulo-verde{
  color:#04ff9f;
}

.titulo-vermelho{
  color:#e31224;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
  width: 60%;
  margin: 0 auto;
}

section section{
  width:100%;
}

ul{
  list-style-type:none;
  line-height:2;
  padding-left: 0px;
  }

a{
  text-decoration:none;
  color:#8b1f84;
  font-weight:700;
}

.principal{
  background-color:#7a0942;
  height: 40px;
  max-width: 60%;
  margin:0 auto;
}

.principal a{
  color:#fff;
  text-decoration:underline; 
  font-weight: normal;
}
.principal li{
  display: inline-block;
  line-height: 2.5;
  margin:0 89px;
}

button{
  background-color: #0d6b5d;
  border:1px solid transparent;
  padding:2px 20px;
  border-radius:3px;
}
